<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }} - Blog</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
    <div id="container">
        {% include 'navbar.html' %}
        <section id="detail">
            <h3>{{ post.title }}</h3>
            <h5>작성자:{{ post.author }} (작성일:{{ post.pub_date }})</h5>
            {% if post.photo %}
                <img src="{{ post.photo.url }}">
            {% endif %}
            <p>{{ post.content | linebreaks }}</p>
        </section>
        <aside>
            <h3>분류(Categories)</h3>
            <div>
                {% for category in categories %}
                <ul>
                    <a href="{{ category.get_absolute_url }}">
                        {{ category }}({{ category.post_set.count }})
                    </a>
                </ul>
                {% endfor %}
            </div>
        </aside>
    </div>
</body>
</html>